@model InstagramIndexVM


<body>
    @foreach(var log in Model.Logs)
    {
        <div>@log.Id</div>
        <div>@log.Date</div>
        <div>@log.Description</div>
        <br />
    }

    @foreach (var log in Model.Medias)
    {
        <div>@log.Id</div>
        <div>@log.Date</div>
        <a href="@log.Uri">Link Text</a>
        <br />
    }
</body>