@model InstagramIndexVM


<body>

    <div> @Model.Test </div>
    <td><a class="nav-link text-dark" asp-controller="Instagram" asp-action="Refresh">Refresh</a></td>

    <table>
        <thead>
            <tr>
                <th width="40%">Id</th>
                <th width="20%">Date</th>
                <th width="20%">Uri </th>
                <th width="20%">Download</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.Medias)
            {
                <tr>
                    <td>@log.Id</td>
                    <td>@log.Date</td>
                    <td><a href="@log.Uri">Link Text</a></td>
                    <td><a class="nav-link text-dark" asp-controller="Instagram" asp-action="Download" asp-route-id="@log.Id">Download</a></td>
                </tr>
            }
        </tbody>
    </table>

</body>